body {
  background-image: url(img/body-background.png);
}
.header{
  margin: 1em 0;
  min-width: 170px;
  background-color: bisque;
  border-radius: .3em;
  color: Crimson;
  text-align: center;
  box-shadow: 0 0 1em silver;
}
.header h3{
  line-height: 2em;
}
.menu-link{
  /*height: 2em;*/
  padding:1em;
  width: 100%;
  background-color: DarkGreen;
  border-radius: .3em;
}
.menu-link-list{
  list-style: none;
  margin:0;
  padding-left: 0;
  text-align: center;
}
.menu-link-list li{
  font-size: 1.2em;
  display: inline;
  padding: 1em .3em;
  margin-right: 1em;
}
@keyframes menu-link-background-animation {
  from {background: inherit;}
  to {background: white;}
}
.menu-link-list li:hover{
  animation: menu-link-background-animation .3s linear;
  background: white;
  border-radius: 1em;
}
.menu-link-list li a, .menu-link-list li a:hover{
  text-decoration: none;
}
.menu-link-list li a{
  color:bisque;
}
.menu-link-list li:hover a{
  color:saddlebrown;
}


